DATABASE_URL="postgresql://artizen:CHANGEME@localhost:5432/artizen?schema=public"
NEXTAUTH_SECRET="changemechangemechangemechangem32"
NEXTAUTH_URL="http://localhost:3000"
UPLOAD_STORAGE_PATH="/data/photos"
